<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文本摘要事实一致性检查模型演示系统</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="../../static/css/fullcalendar.css" />
    <link rel="stylesheet" href="../../static/css/matrix-style.css" />
    <link rel="stylesheet" href="../../static/css/matrix-media.css" />
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.css"  />
    <link rel="stylesheet" href="../../static/css/jquery.gritter.css" />
    <link rel='stylesheet' href='../../static/css/font.css' />

</head>
<body>
    <div id="header">
      <h3 style="margin:15px auto auto 10px;">文本摘要事实一致性检查模型演示系统</h3>
    </div>

    <!--左边侧边栏-->
    <div id="sidebar"><i class="icon icon-home"></i> 项目目录</a>
      <ul>
        <li class="submenu active"> <a href="/Index"><i class="icon icon-time"></i> <span>Introduction</span>
            <ul>
              <li><a href="/Model_introduce_one">模型一介绍</a></li>
              <li><a href="/Model_introduce_two">模型二介绍</a></li>
            </ul>
         </a>
        </li>
        <li> <a href="/Model_show_one"><i class="icon icon-th-list"></i> <span>模型一演示</span></a></li>
          <li> <a href="/Model_show_two"><i class="icon icon-th-list"></i> <span>模型二演示</span></a></li>
      </ul>
    </div>
    <!--sidebar-menu-->


<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="/Index" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 项目介绍</a></div>
  </div>
    <div class="container-fluid">
        <div class="widget-box">
              <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                <h5 id="leave_sid">项目介绍</h5>
              </div>
              <div class="widget-content nopadding">
                <h5 id="leave_sid">
                    <font size="4">
                 <p>当前，人们在阅读长篇文章时需要花费很长时间，如何更快的理解这篇文章的含义，就是读取它的摘要。文本摘要任务是文本生成任务的子类，输入一段源文本，期望输出包含源文本主要内容的精简、没有语法错误的摘要.</p>
                    <p>本系统用于展示两个不同模型直接效率。</p>
                    <p>你可以点击侧边栏了解更多关于模型的简介。</p></h5>
<!--                  介绍，放图和文字-->

              </div>
        </div>
        </div>
    </div>


    <script type="text/javascript" src="../../static/js/excanvas.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.ui.custom.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.peity.min.js"></script>
    <script type="text/javascript" src="../../static/js/fullcalendar.min.js"></script>
    <script type="text/javascript" src="../../static/js/matrix.js"></script>
    <script type="text/javascript" src="../../static/js/matrix.dashboard.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.gritter.min.js"></script>
    <script type="text/javascript" src="../../static/js/matrix.interface.js"></script>
    <script type="text/javascript" src="../../static/js/matrix.chat.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.validate.js"></script>
    <script type="text/javascript" src="../../static/js/matrix.form_validation.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.wizard.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.uniform.js"></script>
    <script type="text/javascript" src="../../static/js/select2.min.js"></script>
    <script type="text/javascript" src="../../static/js/matrix.popover.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../../static/js/matrix.tables.js"></script>

</body>
</html>